div#statsContainer{
    margin-top: 390px;
    margin-bottom: 250px;
}

div#boys_girls_animation, div#frontend_backend_animation, div#bikes_cars_animation, div#soda_coffee_animation, div#croissants_fruits_animation, div#working_playing_animation{
    height:280px;
    position: relative;
    top:-150px;
    left:-42px;
}

div.container_icons_stats{
    margin-top: 50px;
    height:100%
}

div.teaser_text_stats{
    position: absolute;
    top:-140px;
}

p.text_stats_icons{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 48px;
    color:#fff;
}

div.double_icon_set_animation{
    width:140px;
    height: 240px;
    margin-right: 15px;
    float: left;
    position: relative;
}

div.top_icon, div.bottom_icon{
    width:144px;
    height:144px;
    position: absolute;
}

div.bottom_icon{
    bottom:-35px;
}

div.middle_icon{
    margin-top: 200px;
    margin-bottom: 155px;
}

div.container_top_circle, div.container_bottom_circle{
    width:65px;
    height:90px;
}

div.container_bottom_circle{
    height:93px;
}

div#top_circle_boys{
    position: absolute;
    top:-150px;
    left:61px;
    display:none;
    opacity: 0.1;
}

div#bottom_circle_boys{
    position: absolute;
    top:300px;
    left:61px;
    display:none;
    opacity: 0.1;
}

div#top_circle_backend, div#bottom_circle_frontend, div#top_circle_vehicles, div#bottom_circle_vehicles, div#top_circle_soda_coffee, div#bottom_circle_soda_coffee, div#top_circle_food, div#bottom_circle_food, div#top_circle_work_play, div#bottom_circle_work_play{
    position: absolute;
}

div#top_circle_backend{
    /*top:-50px; use this positioning for debugging purposes - the element is hidden and its position is offset by default*/
    position: absolute;
    top:300px;
    left: 53px;
    display:none;
    opacity: 0.1;
}

div#bottom_circle_frontend{
    position: absolute;
    top:135px;
    left:48px;
    display:none;
    opacity: 0.1;
}

div#top_circle_vehicles{
    position: absolute;
    top:-50px;
    left:62px;
    display:none;
}

div#bottom_circle_vehicles{
    position: absolute;
    display: none;
    top:138px;
    left:61px;
}

div#top_circle_soda_coffee{
    position: absolute;
    display: none;
    top:-50px;
    left:48px;
}

div#bottom_circle_soda_coffee{
    position: absolute;
    display: none;
    top:138px;
    left:42px;
}

div#top_circle_food{
    position: absolute;
    display: none;
    top: -50px;
    left:46px;
}

div#bottom_circle_food{
    position: absolute;
    display: none;
    top:138px;
    left:61px;
}

div#top_circle_work_play{
    position: absolute;
    display: none;
    top:-50px;
    left:41px;
}

div#bottom_circle_work_play{
    position: absolute;
    display: none;
    top:138px;
    left:30px;
}

p.stats_section_identifier{
    position: absolute;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 21px;
    color:#fff;
}

img#elipse_common, img#elipse_common_backend, img#elipse_common_vehicles, img#elipse_common_coffee_soda, img#elipse_common_food, img#elipse_work_play{
    width:50px;
    height:47px;
    display:none;
}

p#team_identifier{
    left:165px;
    top:140px;
    display:none;
}

p#developers_identifier{
   left:35px;
   top:65px;
   display:none;
}

p#vehicles_identifier{
    left:45px;
    top:65px;
    display:none;
}

p#coffee_soda_identifier, p#food_identifier, p#work_play_identifier{
    font-size: 16px;
    left:40px;
    top:72px;
    display:none;
}

p#food_identifier{
    left:20px;
}

p#work_play_identifier{
    text-align: center;
    top:62px;
    left:45px;
}



