body{
    background-color: #7f7f7f;
    /*hide scrollbar*/
   overflow: hidden;
}

ul{
    margin:0;
    padding: 0;
    list-style: none;
}

p{
    font-family: 'Raleway', sans-serif;
}

.clearFloats{
    clear:both;
}

div#background_video{
    position: absolute;
    width:100%;
    height:100%;
}

div#background_video video{
    position: fixed;
}

div#home_page_container{
    height: 100%;
    width:100%;
    margin-bottom: 100px;
}

video#home_video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/*preloader styles*/
#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../imgs/status.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.container_preloader{
    width:100%;
    height:10px;
    background-color: #940d06;
}


.logo_container {
    width:220px;
    height: 38px;
}

.logo_position_home, .logo_position_about_us{
    margin-top: 265px;
    margin-bottom: 37px;
}

.logo_position_about_us{
    margin-top: 250px;
}

.logo_position_about_us{
    margin-bottom: 20px;
}

p.text_home{
    font-size:86px;
    line-height: 100px;
    color:#fff;
}

p.text_about_us{
    font-size: 42px;
    line-height: 50px;
    color:#fff;
}

p.text_careers{
    font-size: 48px;
    color:#fff;
    font-weight:300;
    line-height: 52px;
}

p.text_contact{
    font-size: 48px;
    color:#fff;
    font-weight:300;
    line-height: 52px;
}

.container_teaser_home{

}

.container_teaser_about_us{

}

.container_arrow_nav{
    text-align:center;
    padding-top: 160px;
}

.container_main_menu{
    width:100px;
    margin-top: 280px;
    border-left: 1px solid #fff;
    padding-left: 10px;
    position: fixed;
}

.containerSubMenu, .containerSubMenuCareers{
    width:100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 7px;
    margin-bottom: 10px;
}

.containerSubMenu ul, .containerSubMenuCareers ul{
    margin-left: 6px;
}

div.container_main_menu ul li a.activeLinkMainMenu{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    /*opacity: 1.0;*/
}

div.container_main_menu ul li a{
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color: #9e9e9e;
   /*color: #fff;*/
   /*opacity: 0.5;*/
   text-decoration: none;
}

div.containerSubMenu ul li a.activeLinkSubMenu, div.containerSubMenuCareers ul li a.activeLinkSubMenu{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color:#fff;
    font-weight: 600;
    /*opacity: 1.0;*/
}

div.containerSubMenu ul li a{
    font-weight: 400;
    /*opacity: 0.5;*/
    color: #9e9e9e;
}

/* ABOUT US STYLES */
div#about_us_page_container{
    margin-bottom: 160px;
}

div.container_icons_about_us{
    margin-top: 50px;
}

div.container_icons_about_us ul, div.container_icons_about_us ul li{
    display: inline-block;
}

div.container_icons_about_us ul li, div.container_icons_careers ul li{
    width:144px;
    height: 144px;
    margin-right: 15px;
}

div.container_icons_about_us ul li:hover{
    cursor: pointer;
}

/*div.container_icons_about_us ul li p, div.container_text_icons_careers ul li p {*/
    /*display: none;*/
/*}*/

li#toggleStatsText, li#toggleWhatWeDoText, li#toggleTeamText, li#toggleOfficeText{
    text-align: center;
}

div.container_text_icons_about_us ul, div.container_text_icons_about_us ul li, div.container_text_icons_careers ul, div.container_text_icons_careers ul li, div.container_icons_contact ul, div.container_icons_contact ul li{
    display:inline-block;
}

div.container_text_icons_about_us ul li, div.container_text_icons_careers ul li, div.container_icons_contact ul li{
    width:144px;
    text-align: center;
    margin-right: 15px;
}

div.container_text_icons_about_us ul li p, div.container_text_icons_careers ul li p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 50px;
    display:none;
}

div.container_text_icons_careers ul li p{
    margin-bottom: 0;
}

/*CAREERS STYLES*/
div#careers_page_container{
    margin-top: 400px;
    margin-bottom: 160px;
}

div.container_icons_careers{
    margin-top: 60px;
}

div.container_text_icons_careers ul li{
    height:16px;
}

div.container_icons_careers ul li{
    cursor: pointer;
}

div.container_icons_careers ul, div.container_icons_careers ul li{
    display: inline-block;
}

div.container_form_upload_cv{
    margin-top: 50px;
}

div.container_form_upload_cv p{
    color:#fff;
    font-size: 15px;
}

input#sendCVInput{
    width:300px;
}

button#sendCVButton, button#sendEmail{
    width: 140px;
    height:37px;
    background:none;
    color:#fff;
}

/*CONTACT STYLES*/
div#contact_page_container{
    margin-top: 220px;
    margin-bottom: 160px;
}
div.container_icons_contact{
    margin-top: 50px;
    margin-bottom: 60px;
}

div.container_content_get_in_touch ul, div.container_content_get_in_touch ul li{
    display: inline-block;
}

div.container_content_get_in_touch ul li div{
    width: 340px;
}

div.container_content_get_in_touch ul li div img{
    float:left;
    margin-right: 20px;
    position: relative;
    top:-10px;
}

div.container_content_get_in_touch ul li div p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

div.container_content_get_in_touch ul li div p:nth-child(3){
    position: relative;
    top:-10px;
}